In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
data = [['Alex',10],['Bob',12],['Cleark',13]]
df = pd.DataFrame(data,columns=["Name", 'Age'],index=['a','b','c'])
df

     Name  Age
a    Alex   10
b     Bob   12
c  Cleark   13

In [9]:
#Create a dataframe with a dictionary
data = {'Name': ['Tom','Jack','Steve','Ricky'], 'Age': [20,34,57,19]}
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   20
1   Jack   34
2  Steve   57
3  Ricky   19

In [12]:
#Creating a DataFrame from list of dictionary
data = [{'a':1, 'b':2},{'a':5, 'b':10, 'c':20},{'a':7, 'b':9, 'c':0}]
df = pd.DataFrame(data, index = ['first','second','third'])
df

        a   b     c
first   1   2   NaN
second  5  10  20.0
third   7   9   0.0

# Working with a CSV file

In [36]:
data = pd.read_csv("cardio_train.csv",delimiter=";")
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [26]:
#calculating the number of columns and rows
print("number of rows and columns: ({},{})".format(data.shape[0],data.shape[1]))

#print the first five rows
print(data.head())

number of rows and columns: (70000,13)
   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
0   0  18393       2     168    62.0    110     80            1     1      0
1   1  20228       1     156    85.0    140     90            3     1      0
2   2  18857       1     165    64.0    130     70            3     1      0
3   3  17623       2     169    82.0    150    100            1     1      0
4   4  17474       1     156    56.0    100     60            1     1      0

   alco  active  cardio
0     0       1       0
1     0       1       1
2     0       0       1
3     0       1       1
4     0       0       0

In [34]:
#Printing the name of your column
print("first alternative: \n", data.columns)
print("second alternative: \n", data.keys())

first alternative:
 Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')
second alternative:
 Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [38]:
#Printing a specific row
print("Printing row 2\n")
data.iloc[[1]]

Printing row 2

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1

In [39]:
# Printing value for a particular position
print("Information of a particular sample: ",data.loc[0, 'height'])

# Printinf
data.iloc[[1],0:4]

Information of a particular sample:  168

   id    age  gender  height
1   1  20228       1     156

In [42]:
#Printing a particular set of columns
data.loc[[1],["age", "height","cholesterol"]]

     age  height  cholesterol
1  20228     156            3

In [43]:
# Printing information
data.info

<bound method DataFrame.info of           id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       1       1
2          0     0       0       1
3          0     0       1       1
4          0     0       0       0
...      ...   ...     ...     ...
69995      1     0       1       0
69996      0     0       1       1
69997      0     1       0       1
69998      0     0       0       1
69999      0     0       1       0

[70000 rows x 13 columns]>

In [48]:
#printing the unique value
data.nunique()

id             70000
age             8076
gender             2
height           109
weight           287
ap_hi            153
ap_lo            157
cholesterol        3
gluc               3
smoke              2
alco               2
active             2
cardio             2
dtype: int64

# Doing queries with DataFrame

In [47]:
n_row = range(data.shape[0])
column_list = ["gender","smoke"]
gender_1 = pd.DataFrame(data, index=n_row,columns=column_list).query("gender==1").count()
gender_1_1 = pd.DataFrame(data, index=n_row, columns=column_list).query("gender==1 and smoke==1").count()
print("Total number of sample gender_1: \n",gender_1)
print("Total number of sample gender_1_1: \n",gender_1_1)

Total number of sample gender_1:
 gender    45530
smoke     45530
dtype: int64
Total number of sample gender_1_1:
 gender    813
smoke     813
dtype: int64